@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&display=swap');

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font-family: 'Manrope', Arial, Helvetica, sans-serif;
}

header {
 display: flex;
 flex-direction: column;
 background-color: #1f2937;
}

nav {
 display: flex;
 justify-content: space-between;
 color: #e5e7eb;
}

.left-links {
 color: #f9faf8;
 font-size: 24px;
}

.right-links ul {
 padding: 0;
 margin: 0;
 display: flex;
 gap: 1rem;
}

.right-links ul li {
 list-style: none;
}

.right-links ul li a {
 text-decoration: none;
 color: #e5e7eb;
}

.quote {
 background-color: #e5e7eb;
 color: #1f2937;
 font-size: 36px;
 font-weight: 300px;
 display: flex;
 justify-content: center;
 align-items: center;
}

footer {
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: #1f2937;
 color: #e5e7eb;
}