@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&display=swap');

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font-family: 'Manrope', Arial, Helvetica, sans-serif;
 background-color: #0e2618;
}

/* header */
header {
 display: flex;
 flex-direction: column;
 background-color: #0e2618;
 padding: 2rem;
 padding-bottom: 3rem;
}

nav {
 display: flex;
 justify-content: space-between;
 color: #e5e7eb;
 margin-bottom: 2rem;
}

.left-links {
 color: #f9faf8;
 font-size: 24px;
}

.right-links ul {
 padding: 0;
 margin: 0;
 display: flex;
 gap: 1rem;
}

.right-links ul li {
 list-style: none;
}

.right-links ul li a {
 text-decoration: none;
 color: #e5e7eb;
 font-size: 18px;
}

/* hero */
.hero {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 align-items: center;
 color: #e5e7eb;
 font-size: 18px;
}

.hero-left {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: flex-start;
 width: 400px;
 height: 200px;

 margin-bottom: 2rem;
}

.hero-left h1 {
 font-size: 48px;
 font-weight: 700;
 color: #f9faf8;

 text-align: center;
}

.hero-left p {
 margin-bottom: 1rem;
}

.hero-button {
 background-color: #2d5930;
 color: #f9faf8;
 border: none;
 border-radius: 5px;
 padding: 8px 16px;
}

.hero-image {
 background-color: #39593e;
 width: 500px;
 height: 300px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.hero-image img {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 300px;
 object-fit: cover;
 flex: 1;
}

/* main */
main {
 display: flex;
 flex-direction: column;
}

/* information */
.information {
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 2rem;
 background-color: #f3f9ec;

 color: #00060d;
}

.information h1 {
 margin-bottom: 2rem;
 font-size: 36px;
 font-weight: 700;

 text-align: center;
}

.info-squares {
 display: flex;
 justify-content: center;
 align-items: baseline;
 flex-wrap: wrap;
 gap: 2rem;
 
 /* debug */
 /* border: 2px solid #1f2937; */
}

.square-one,
.square-two,
.square-three,
.square-four {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
 width: 200px;
}

.square-one img,
.square-two img,
.square-three img,
.square-four img {
 width: 200px;
 height: 200px;

 /* border: 3px solid #2d5930; */
 /* border-radius: 20px; */
 
 margin-bottom: 2rem;
 object-fit: cover;
}

/* quote */
.quote {
 background-color: #39593e;
 color: #e5e7eb;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 2rem;
 flex-wrap: wrap;
}

.quote-square {
 max-width: 900px;
 display: flex;
 flex-direction: column;
 flex: 1;

 /* debug */
 /* border: 2px solid #1f2937; */
}
.quote blockquote p {
 font-size: 24px;
 font-weight: 300;
 margin-bottom: 1rem;
}

.quote p {
 font-size: 18px;
 font-weight: 700;
 align-self: flex-end;
 color: #f9faf8;
}

/* call-to-action */
.call {
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 2rem;
 background-color: #f3f9ec;
}

.call-square {
 background-color: #2d5930;
 color: #e5e7eb;
 display: flex;
 justify-content: space-between;
 align-items: center;
 flex-wrap: wrap;
 width: 900px;
 padding: 2rem;
 border-radius: 5px;
}

.call-content {
 display: flex;
 flex-direction: column;
}

.call-square h1 {
 font-size: 18px;
 font-weight: 700;
 color: #f9faf8;
 margin-bottom: .5rem;
}

.call-text {
 margin-bottom: 1rem;
}

.call-button {
 background-color: #2d5930;
 border: 1px solid #f9faf8;
 color: #f9faf8;
 border-radius: 5px;
 padding: 8px 16px;
}

/* footer */
footer {
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: #0e2618;
 color: #e5e7eb;
 padding: 2rem;
}

/* media queries */
@media (min-width: 1000px) {
.header-container {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.hero {
 gap: 2rem;
}
}

@media (max-width: 450px) {
.hero-left {
 align-items: center;
}

.call-square {
 justify-content: center;
}

.call-content {
 align-items: center;
}
}